#Unreal Engine autosave boring stuff that takes up a bunch of space for no reason.
Hero_Shooter/Saved/*
Hero_Shooter/Saved/Logs/*
Hero_Shooter/Intermediate/*
*.png
*.ini
Hero_Shooter/Config/DefaultEngine.ini
Hero_Shooter/Content/StarterContent/*